<div class="starter-template" ng-controller="ProductsController">
	<div class="row">
		<div class="col-lg-4 ">
			<h2>MEAN Stack Book</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-primary" href="#" role="button">Add to Cart</a></p>
		</div>
		<div class="col-lg-4">
			<h2>Macbook Pro</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-primary" href="#" role="button">Add to Cart</a></p>
		</div>
		<div class="col-lg-4">
			<h2>iPhone 7 Plus</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
				semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
			<p><a class="btn btn-primary" href="#" role="button">Add to Cart</a></p>
		</div>
	</div>
</div>